<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head") %>
  <body>
    <%- include ("./partials/header") %>
    <main>
      <section>
        <h2 class="title"><%= titulo %></h2>
        <div class="flex-container">
          <!-- card -->
          <% characters.map(item => {%>
          <div class="card">
            <img
              src="<%= item.image %>"
              width="200px"
              alt="imagen de spider-man"
            />
            <div class="detalle">
              <p><b><%= item.name %></b></p>
              <p>Nombre: <em><%= item.name %></em></p>
              <p>Primera Aparicion: Amazing Fantasy #15</p>
            </div>
          </div>
          <!-- card -->
          <% })%>
        </div>
      </section>
      <i class="fa-solid fa-circle-chevron-down posicion-fixed"></i>
    </main>
    <%- include ("./partials/footer") %>
  </body>
</html>
